<%- include('partials/_header.ejs') %>

<!-- Page content -->
		<div class="container-fluid">
			<div class="mx-auto tm-content-container">
				<main>
					<div class="row mb-2 pb-1">
						<div class="col-12">
							<a href="/edit-post/<%= photo.id %>" class="btn btn-primary">
								Edit Record
							</a>
							<form class="d-inline" method="POST" action="/delete-post">
								<input type="hidden" name="id" value="<%= photo.id %>">
								<input type="submit" value="Delete Record" class="btn btn-danger ml-2">
							</form>
						</div>
					</div>
					<div class="row mb-5 pb-4">
						<div class="col-12">
							<img src="<%= photo.image %>" alt="image" class="w-100">
						</div>
					</div>
					<div class="row mb-5 pb-5">
						<div class="col-12">
							<!-- Video description -->
							<div class="w-100">
								<h2 class="mb-5 tm-video-title"><%= photo.title %></h2>
								<div class="mb-4"><%= photo.description %></div>
							</div>
						</div>
					</div>
				</main>


                <footer class="row pt-5">
                    <div class="col-12">
                        <p class="text-right">Copyright 2020 The Video Catalog Company 
                        
                        - Designed by <a href="https://templatemo.com" rel="nofollow" target="_parent">TemplateMo</a></p>
                    </div>
                </footer>
			</div> <!-- .tm-content-container -->
		</div>
<%- include('partials/_footer.ejs') %>